.matricula-page {
    padding: 2rem;
  }
  
  .matricula-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .botao-cancelar {
    background-color: #f0ad4e;
    color: white;
    padding: 6px 14px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botao-cancelar:hover {
    background-color: #ec971f;
  }
  
  .botao-excluir {
    background-color: #e57373;
    color: white;
    padding: 6px 14px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botao-excluir:hover {
    background-color: #d32f2f;
  }
  
  
  .matricula-table-container {
    padding: 10px;
    margin: 20px auto;
    max-width: 95%;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    background-color: #f7f9fa;
  }
  
  .botao-ver {
    background-color: #8faeb4;
    color: white;
    padding: 6px 14px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botao-ver:hover {
    background-color: #7b9ba1;
  }
  